* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imageninicio {
    padding: 10px;
    display: flex;
    justify-content: center;
}

#rutinaIcon {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff4343;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

#rutinaIcon img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

#rutina {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    transition: right 0.5s ease-in-out;
    overflow-y: auto; 
    z-index: 999;
    box-shadow: -4px 0px 10px rgba(0,0,0,0.3);  
}

#rutina.active {
    right: 0;
}

#productosrutina {
    flex-grow: 1;  
    padding: 10px;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: absolute; 
    bottom: 10px;  
    width: 100%;
    background-color: white;
    z-index: 2;
}

#total {
    background-color: red;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 20px 0;
}

#finalizarEntrenamiento {
    background-color: red;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 20px 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffe9e9;
    color: black;
}

h1, h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 40px 0;
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color:#f09090;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.main {
    padding: 20px;
}

.productos {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f09090;
    gap: 20px;
    border-radius: 10px;
}

p {
    text-align: center;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #f83535;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.producto img {
    width: 100%;
    border-radius: 10px;
}

.producto .img {
    height: 150px;
    width: 150px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .productos {
        max-width: 80%;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
    }

    #carrito {
        width: 400px;
        top: 0;
    }

    #finalizarEntrenamiento {
        font-size: 1.25rem;
    }
}
